# SPDX-FileCopyrightText: © 2022 Dai Foundation <www.daifoundation.org>
#
# SPDX-License-Identifier: Apache-2.0

black==22.12.0
flake8-isort==6.0.0
flake8-print==5.0.0
flake8==6.0.0
isort==5.11.4
reuse==1.0.0
